.card-body .info span {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 575px) {
  /* Small Screen Rules  */
  .card-body .info span {
    padding: 10px 8px !important;
    font-size: 12px;
  }
}
